{
  "FIREBASE_API_KEY": "YOUR_FIREBASE_API_KEY",
  "FIREBASE_APP_ID": "YOUR_FIREBASE_APP_ID_FOR_WEB",
  "FIREBASE_MESSAGING_SENDER_ID": "YOUR_FIREBASE_MESSAGING_SENDER_ID",
  "FIREBASE_PROJECT_ID": "YOUR_FIREBASE_PROJECT_ID",
  "FIREBASE_STORAGE_BUCKET": "YOUR_FIREBASE_STORAGE_BUCKET",
  "GOOGLE_SIGN_IN_CLIENT_ID": "YOUR_GOOGLE_SIGN_IN_CLIENT_ID_FOR_WEB"
}
